{{template "layout/head.html" .}}

<header class="text-center" style="margin-top:20px;">
<img src="/static/img/logo.png" width="30" height="30" align="left">
<h3 class="font-bold">略懂社相关推荐数据召回服务</h3>
</header>

<hr>
<div style="margin: 0 auto; max-width: 50%;">
    <div class="panel-body">
        <div class="form-sign" role="form">
            <form action="" method="get">
                <div class="form-group">
                    检索词:<input type="text" placeholder="检索词" id="query" name="query" value="{{str2html .Form.Query}}"
                    class="form-control" required autofocus />
                </div>
                <div class="form-group">
                    数据类型:<input type="text" placeholder="" id="type" name="type" value="{{.Form.Type}}"
                    class="form-control" required autofocus />
                </div>
                <div class="form-group">
                    标签:<input type="text" placeholder="" id="tids" name="tids" value="{{str2html .Form.Tids}}"
                    class="form-control" required autofocus />
                </div>
                <div class="form-group">
                    是否调试:<input type="text" placeholder="" id="debug" name="debug" value="{{.Form.Debug}}"
                    class="form-control" required autofocus />
                </div>
                <button class="btn btn-default btn-block" type="submit" id="sign">检索</button>
                <input type="hidden" name="uuid" value="uuid_dashboard_self">
                <input type="hidden" name="preference" value="preference_dashboard_self">
            </form>
        </div>
    </div>
<div>
<hr>
        <div class="panel-body">
            <table border=1>
                <tr><th>###</th><th>ID</th><th>标题</th></tr>
                {{range $key, $val := .L}}
                <tr>
                    <td>{{$key}}</td>
                    <td>{{$val._id}}</td>
                    <td>{{$val._source.title}}</td>
                </tr>
                {{end}}
            </table>
        </div>
{{template "layout/foot.html" .}}
